<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <title>Template</title>

    <meta name="description" content="Template HTML file">
    <meta name="author" content="iO Academy">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="icon" href="images/favicon.png" sizes="192x192">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/favicon.png">

    <!-- <script defer src="js/index.js"></script> -->
</head>

<body>
<section>
    <div id="top-nav">
        <p>Andrej Hagenmüller</p>
        <p>Nav dropdown</p>
    </div>
</section>
<header>
    <p id="intro">Hi, I'm <br> Andrej.</p>
    <p id="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div id="intro-links">
        <a href="" class="links">Message me</a>
        <a href="" class="links">Get to know me</a>
    </div>
</header>
<section>
    <div id="about-me">
        <p id="first-line">About me</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum pulvinar etiam non quam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum pulvinar etiam non quam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum pulvinar etiam non quam.</p>
        <div id="me-pic">
            <img src="https://placedog.net/150/150" alt="Image of Andrej" id="pic">
        </div>
    </div>
</section>
</body>
</html>
