*, *::before, *::after {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-size: 1.5rem;
}

.section-background-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#top-nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-link, #about-me-link, #projects-link, #contact-link {
  display: none;
  color: #000000;
  font-size: 1rem;
  text-decoration: none;
}

.dropdown {
  display: flex;
}

#dropdown-icon {
  width: 2rem;
  height: 2rem;
}

.dropbtn {
  color: #000000;
  background-color: #ffffff;
  border: none;
  width: 3rem;
  height: 3rem;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  padding: 1rem;
  opacity: 0.5;
  border: solid 0.5px #808080;
  border-radius: 1rem;
  gap: 1rem;
  margin-top: 3rem;
}

.dropdown-content a {
  color: #ffffff;
  text-decoration: none;
}

#top-nav p {
  color: #000000;
}

.section-background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-bottom: 5rem;
  box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.75);
}

#section-intro {
  background-image: url("https://placedog.net/600/400");
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-self: center;

}

#intro-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.links {
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: underline;
}

#section-about-me {
  background-color: #808080;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#me-pic {
  border-radius: 10rem;
}

#section-projects {
  background-color: #ffebcd;
}

#project-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  color: #000000;
  background-image: url("/template/images/stone-background.avif");
  padding: 1rem;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
}

.card-image {
  width: 100%;
}

.card-links a {
  color: #000000;
}

#section-footer {
  background-color: #d8bfd8;
}

#footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-links {
  color: #ffffff;
}

#chevron-up-outline {
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  border: solid 2px #ffffff;
  border-radius: 0.5rem;
}


@media only screen and (min-width: 800px) {
  #home-link, #about-me-link, #projects-link, #contact-link {
    display: flex;
  }
  .dropdown {
    display: none;
  }
  .content {
    justify-content: space-between;
  }
  .text {
    width: 60%;
    display: flex;
  }
  #project-box {
    justify-content: space-evenly;
  }
  .card {
    width: 45%;
  }
}