*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-size: 1.5rem;
}

.section-background-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#top-nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#top-nav p {
  color: #000000;
}

#filter-outline {
  color: #000000;
  width: 2rem;
  height: 2rem;
}

.section-background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#section-intro {
  background-image: url("https://placedog.net/600/400");
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-self: center;

}

#intro-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.links {
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: underline;
}

#section-about-me {
  background-color: #808080;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#pic {
  border-radius: 10rem;
}

#section-projects {
  background-color: #ffebcd;
}

/* .container h1, p {
  color: #000000;
} */

#project-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  color: #000000;
  background-color: #ffffff;
  padding: 1rem;
}

.card-image {
  width: 100%;
}

#section-footer {
  background-color: blueviolet;
}

#footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chevron-up-outline {
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  border: solid 2px #ffffff;
  border-radius: 0.5rem;
}


@media only screen and (min-width: 700px) {
  .content {
    justify-content: space-between;
  }
  .text {
    width: 60%;
    display: flex;
  }
}